.menu-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 1;
    background: rgb(233, 233, 231);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .menu-block {
    z-index: 10;
    position: fixed;
    background: rgb(93, 11, 235);
  }
  
  .elOption {
    cursor: pointer;
    padding: 16px 35px;
    color: white;
  }
  
  .elOption:hover {
    background: rgb(249, 208, 4);
    color: black;
  }