main{
    display: flex;
    flex-direction: row;
}
.fileManager{
    width: 30%;
    min-height: calc(100vh - 120px);
    background-color: #E3E2E2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
}
.filePreview{
    width: 70%;
    height: calc(100vh - 120px);
}
.catalog{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
ul{
    width: 100%;;
    padding: 0px;
    list-style: none;
}
li{
    width: 100%;
    padding-left: 20px;
}
li:hover{
    background-color: gray;
}
.plus_btn{
    width: 30px;
    height: 30px;
}