.header_inner{
    padding: 10px 20px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_right a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.menu{
    width: 40px;
    height: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.menu_line{
    display: flex;
    width: 100%;
    height: 2px;
   
     background-color: black;
}
img{
    width: 230px;
    height: 60px;
}
