.home{
    width: 100%;
    min-height: calc(100vh - 120px);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.btn_login{
    border: none;
    padding:5px 20px;
    border-radius: 10px;
    background-image: linear-gradient(90deg,#ff080a 0,#ff7002);
}