
.login_page{
    padding: 20px 30%;
    width: 100%;
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    width: 100%;
    min-height: calc(80vh - 120px);
    padding:40px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.login .btn_login{
    border: none;
    padding:5px 20px;
    border-radius: 10px;
    background: #1a73e8;;
    color: white;
}
.login_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.login_form div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.login_form span{
    min-width: 64px;
}
.login_form input{
    width: 100%;
    border: 2px solid #e6e6e6;
    
    border-radius: 5px;
}
.login_form input:hover{
    border: 2px solid #1a73e8;;
}
.login_form input:focus{
    border: 2px solid #1a73e8;;
}
.login_form input:active{
    border: 2px solid #1a73e8;;
}
.error{
    font-size: 16px;
    color: red;
}


@media (max-width:960px){
    .login{
        width: 100%;
    }
}
@media (max-height:480px){
    .login{
        height:calc(90vh - 120px);
        
    }
}