.modal_window{
    position: absolute;
    margin:auto 25%;
    margin-top: 5%;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(150,150,150);
    border-radius: 20px;
    opacity: 90%;
    padding: 10px;
}
.btn-close{
    position: relative;
    top: -23%;
    left: 45%;
}